h1,h2,h3,h4,h5,h6 {
  font-family: 'PT Sans Narrow', sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 48px;
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {

}

span {

}

a {
  text-decoration: underline;
}

ul {

}

ol {

}

ul li,
ol li{

}

strong {
  
}