.checkbox {
  display: inline-block;
  position: relative;
  margin: 0 12px 0 0;

  & input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // z-index: 2;
    opacity: 0;
    cursor: pointer;

    &:checked + label::before {
      background: $accent2;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center;
      border: 1px solid $accent2;
    }
  }

  & label {
    font-size: 14px;
    font-weight: 500;
    color: $second;
    // position: relative;
    // z-index: 1;
    
    // &::after {
    //   content: '';
    //   position: absolute;
    //   bottom: 0;
    //   left: 20px;
    //   width: calc(100% - 20px);
    //   height: 1px;
    //   border-top: 1px dashed $second;
    // }
    
    &::before {
      content: '';
      display: inline-block;
      width: 14px;
      height: 14px;
      border: 1px solid $outline;
      border-radius: 4px;
      background: #fff;
      margin: -2px 4px 0 0;
      vertical-align: middle;
    }
  }
}

.checkbox-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  border: 1px solid $outline;
  border-radius: 10px;
  text-align: center;
  position: relative;
  z-index: 1;

  & img {
    width: 12px;
    height: 12px;
    object-position: center;
    vertical-align: middle;
    margin: -4px 0 0 0;
  }
}