.region__map {
  max-width: 654px;
  width: 100%;

  & svg {
    width: 100%;
    height: 100%;
    object-fit: contain;

    & .region__map-region {
      transition: $tr;

      &:hover { 
        fill: rgba(94, 92, 231, 0.4); 
      }

      &._selected {
        fill: rgba(94, 92, 231, 0.8); 
      }
    }
  }
}